
.hero{
    
    background-image: url(../../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.home {
   
    padding-top: 80px;
    margin-bottom: 200px;
}
.home__title {
    margin-bottom: 100px;
    text-align: right;
}
.home__title img{
    margin-top: 50px;
    width: 20rem;
    margin-right: 20px;
    
}

.home__title p {
    color: var(--textcolor02);
    font-weight: bold;
    font-size:1rem;
    padding: 40px 20px 0 0px;
    margin-top: 20px;
    margin-right: 20px;
    
}

