footer {
    background-color: var(--bgcolor01);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    margin-top: 300px;
}
a .social-icons{
    color: #cceaf7;
  }
  .social-github {
    margin-right: 50px;
  }

  .social-linkedin {
    margin-left: 50px;
  }



.copyright {
    text-align: center;
    color: var(--textcolor02);
    padding: 40px 0px 20px;
    font-size: 18px;
}
.copyright a{
  color: var(--textcolor04); 
}
.copyright a:hover{
  color: var(--textcolor05); 
}