*{
    margin: 0;
    padding: 0;
}

li,ul,a{
    text-decoration: none;
    list-style: none;
    color: var(--textcolor01);
}
h1{
    font-size: 3rem;
    color: var(--bgcolor03);

}
h2{
    font-size: 2rem;
    color: var(--bgcolor03);
}
h3{
    color: var(--bgcolor03);
}


:root{
    --textcolor01: #000000;
    --textcolor02: #f1f0f0;
    --textcolor03: #ece46c;
    --textcolor04: #d7c1f8;
    --textcolor05: #efffc3;
    --textcolor06: #747474;
    --textcolor07: #fa9a79;
    --bgcolor01: #84a3f8;
    --bgcolor02: #dadafd;
    --bgcolor03:  #f3d265;
}